
<div class="overflow-x-hidden">
  <div id="Wrapper">
    <
    <div class="lg:py-40 pt-24 pb-12 relative -mt-20 bg-white" id="home">
      <div class="banner1">
        <div class="objectWrapper">
          <img src="assets/assets/images/demos/first-banner.png" alt="" class="Image__ImageWrapper">
          <div class="dashboardWrapper">
            <img src="../../../../Resources/Images/{{homeDesign.slideImage1}}" alt="" class="shadow-2xl">
          </div>
        </div>
      </div>
      <div class="uk-container mx-auto lg:mt-28">
        <div class="lg:w-5/12 lg:space-y-6 text-center lg:text-left lg:block flex flex-col justify-center items-center">

          <h1 class="font-bold lg:leading-snug lg:text-4xl text-2xl">
            {{homeDesign.mainText1}}
          </h1>
          <p>
            {{homeDesign.subText1}}
          </p>
          <div class="flex gap-4">
            <a href="#"
               class="bg-gradient-to-bl font-semibold from-purple-500 to-blue-600 px-10 py-2 rounded text-sm text-white
                        hover:shadow-lg hover:text-white">
              BUY NOW
            </a>

            <a href="#" class="border border-gray-400 font-semibold px-8 py-2 rounded text-sm">
              Explore Demos
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="lg:py-20 py-12 lg:mb-24 relative" id="demos">
      <div class="uk-container mx-auto">

        <div class="text-center lg:mb-20 mb-10 max-w-md mx-auto">
          <h1 class="lg:text-3xl text-2xl mb-2"> Explore our demos</h1>
          <p>
            Explore our demos pages on different layout of designs. More
            demos are coming soon.
          </p>
        </div>


        <div class="uk-child-width-1-3@m uk-child-width-1-2@s uk-flex-center"
             uk-scrollspy="target: > div; cls: uk-animation-slide-bottom-small; delay: 100" uk-grid>

          <div>
            <a target="_blank" href="landing.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/landing.png" alt="">
                <p> landing </p>
                <span class="new bg-red-500">New</span>
              </div>
            </a>
          </div>
          <div>
            <a target="_blank" href="feed-layout-2.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/feed-layout-2.png" alt="">
                <p> feed layout 2 </p>
                <span class="new bg-red-500">new</span>
              </div>
            </a>
          </div>

          <div>
            <a target="_blank" href="fundraiser.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/fundraiser.png" alt="">
                <p> Fundraiser </p>
                <span class="new bg-red-500">New</span>
              </div>
            </a>
          </div>
          <div>
            <a target="_blank" href="timeline-fundraiser.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/fundraiser-timeline.png" alt="">
                <p> Fundraiser Timeline </p>
                <span class="new bg-red-500">New</span>
              </div>
            </a>
          </div>
          <div>
            <a target="_blank" href="birthdays.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/brithdays.png" alt="">
                <p> birthdays </p>
                <span class="new bg-red-500">new</span>
              </div>
            </a>
          </div>

          <div>
            <a target="_blank" href="feed.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/feed.png" alt="">
                <p> feed </p>
              </div>
            </a>
          </div>
          <div>
            <a target="_blank" href="products.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/products.png" alt="">
                <p>  Marketplace  </p>
              </div>
            </a>
          </div>
          <div>
            <a target="_blank" href="product-single.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/product-preview.png" alt="">
                <p>  product post </p>
              </div>
            </a>
          </div>
          <div>
            <a target="_blank" href="albums.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/albums.png" alt="">
                <p> albums </p>
              </div>
            </a>
          </div>
          <div>
            <a target="_blank" href="blogs.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/blogs.png" alt="">
                <p> Blog </p>
              </div>
            </a>
          </div>
          <div>
            <a target="_blank" href="blog-read.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/blog-description.png" alt="">
                <p> Blog read</p>
              </div>
            </a>
          </div>
          <div>
            <a target="_blank" href="courses.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/courses.png" alt="">
                <p> Courses </p>
              </div>
            </a>
          </div>
          <div>
            <a target="_blank" href="course-intro.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/course-intro.png" alt="">
                <p> Courses intro</p>
              </div>
            </a>
          </div>
          <div>
            <a target="_blank" href="events.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/events.png" alt="">
                <p> Events </p>
              </div>
            </a>
          </div>
          <div>
            <a target="_blank" href="forums.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/forums.png" alt="">
                <p> Forums </p>
              </div>
            </a>
          </div>
          <div>
            <a target="_blank" href="groups.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/groups.png" alt="">
                <p> Groups </p>
              </div>
            </a>
          </div>
          <div>
            <a target="_blank" href="chats-friend.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/chats-friend.png" alt="">
                <p> Chat friends </p>
              </div>
            </a>
          </div>
          <div>
            <a target="_blank" href="chats-group.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/chats-group.png" alt="">
                <p> Chat Groups</p>
              </div>
            </a>
          </div>
          <div>
            <a target="_blank" href="games.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/games.png" alt="">
                <p> Games </p>
              </div>
            </a>
          </div>
          <div>
            <a target="_blank" href="jobs.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/jobs.png" alt="">
                <p> Jobs </p>
                <span class="new bg-green-500">Update</span>
              </div>
            </a>
          </div>
          <div>
            <a target="_blank" href="job-details.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/jobs-description.png" alt="">
                <p> Jobs description</p>
              </div>
            </a>
          </div>
          <div>
            <a target="_blank" href="videos.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/videos.png" alt="">
                <p> Video </p>
              </div>
            </a>
          </div>
          <div>
            <a target="_blank" href="video-watch.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/videos-watch.png" alt="">
                <p>  Video Watch </p>
              </div>
            </a>
          </div>
          <div>
            <a target="_blank" href="pages.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/pages.png" alt="">
                <p> pages </p>
              </div>
            </a>
          </div>

          <div>
            <a target="_blank" href="timeline.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/timeline.png" alt="">
                <p> timeline </p>
                <span class="new bg-green-500">Update</span>
              </div>
            </a>
          </div>
          <div>
            <a target="_blank" href="timeline-page.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos//timeline-page.png" alt="">
                <p> timeline page </p>
              </div>
            </a>
          </div>
          <div>
            <a target="_blank" href="timeline-group.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/timeline-group.png" alt="">
                <p> timeline group </p>
              </div>
            </a>
          </div>
          <div>
            <a target="_blank" href="timeline-event.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/timeline-event.png" alt="">
                <p> timeline Event </p>
              </div>
            </a>
          </div>
          <div>
            <a target="_blank" href="pages-setting.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/pages-setting.png" alt="">
                <p> Setting   </p>
              </div>
            </a>
          </div>
          <div>
            <a target="_blank" href="pages-setting2.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/pages-setting2.png" alt="">
                <p> setting 2   </p>
              </div>
            </a>
          </div>
          <div>
            <a target="_blank" href="create-group.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/create-group.png" alt="">
                <p> create-group   </p>
              </div>
            </a>
          </div>
          <div>
            <a target="_blank" href="create-page.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/create-page.png" alt="">
                <p> create page  </p>
              </div>
            </a>
          </div>


          <div>
            <a target="_blank" href="development-components.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/dev-components.png" alt="">
                <p> development components </p>
                <span class="new bg-red-500">New</span>
              </div>
            </a>
          </div>
          <div>
            <a target="_blank" href="development-plugins.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/dev-plugins.png" alt="">
                <p> development plugins </p>
                <span class="new bg-red-500">new</span>
              </div>
            </a>
          </div>
          <div>
            <a target="_blank" href="development-icons.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/dev-icons.png" alt="">
                <p> development icons </p>
                <span class="new bg-red-500">New</span>
              </div>
            </a>
          </div>

          <div>
            <a target="_blank" href="pages-upgrade.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/pages-upgrade.png" alt="">
                <p> pages upgrade </p>
                <span class="new bg-red-500">New</span>
              </div>
            </a>
          </div>
          <div>
            <a target="_blank" href="pages-about.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/pages-about.png" alt="">
                <p> pages about </p>
                <span class="new bg-red-500">New</span>
              </div>
            </a>
          </div>
          <div>
            <a target="_blank" href="pages-contact.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/pages-contact-us.png" alt="">
                <p> pages contact-us </p>
                <span class="new bg-red-500">New</span>
              </div>
            </a>
          </div>
          <div>
            <a target="_blank" href="pages-privacy.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/pages-privacy.png" alt="">
                <p> pages privacy </p>
                <span class="new bg-red-500">New</span>
              </div>
            </a>
          </div>


          <div>
            <a target="_blank" href="form-login.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/form-login.png" alt="">
                <p> login </p>
              </div>
            </a>
          </div>
          <div>
            <a target="_blank" href="form-register.html">
              <div class="demo-card">
                <img src="assets/assets/images/demos/form-register.png" alt="">
                <p> register </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white" id="features">

      <svg width="100%" height="100px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 2560 100" style="enable-background:new 0 0 2560 100" xml:space="preserve" class="-mt-24 absolute fill-current text-white invisible lg:visible">
      <polygon points="2560 0 2560 100 0 100"></polygon>
            </svg>

      <div class="container m-auto  py-20">

        <div class="text-center mb-3">
          <h1 class="text-3xl font-semibold"> Features that you really love </h1>
          <p class="mt-2">
            Start building fast, beautiful and modern looking websites in no time using our
            themes.
          </p>
        </div>


        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8 mt-12 px-4">

          <!-- our first cad -->
          <div class="rounded p-6">

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-12 h-12 text-blue-500 mb-4 mt-6">
              <path fill-rule="evenodd" d="M4 2a2 2 0 00-2 2v11a3 3 0 106 0V4a2 2 0 00-2-2H4zm1 14a1 1 0 100-2 1 1 0 000 2zm5-1.757l4.9-4.9a2 2 0 000-2.828L13.485 5.1a2 2 0 00-2.828 0L10 5.757v8.486zM16 18H9.071l6-6H16a2 2 0 012 2v2a2 2 0 01-2 2z" clip-rule="evenodd"></path>
            </svg>
            <h2 class="text-xl font-bold leading-10"> Extended color palette </h2>
            <h2>
              <p class="font-medium text-gray-600">
                A beautiful color palette that can be easily modified with our
                nicely coded Sass files.
              </p>

            </h2>
          </div>

          <!-- our first cad -->
          <div class="rounded p-6">

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-12 h-12 text-blue-500 mb-4 mt-6">
              <path d="M11 17a1 1 0 001.447.894l4-2A1 1 0 0017 15V9.236a1 1 0 00-1.447-.894l-4 2a1 1 0 00-.553.894V17zM15.211 6.276a1 1 0 000-1.788l-4.764-2.382a1 1 0 00-.894 0L4.789 4.488a1 1 0 000 1.788l4.764 2.382a1 1 0 00.894 0l4.764-2.382zM4.447 8.342A1 1 0 003 9.236V15a1 1 0 00.553.894l4 2A1 1 0 009 17v-5.764a1 1 0 00-.553-.894l-4-2z">
              </path>
            </svg>
            <h2 class="text-xl font-bold leading-10"> Everything is modular </h2>
            <h2>
              <p class="font-medium text-gray-600">
                Nicely customized components that can be reused anytime and
                anywhere in your project.
              </p>

            </h2>
          </div>

          <!-- our first cad -->
          <div class="rounded p-6">

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-12 h-12 text-blue-500 mb-4 mt-6">
              <path d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z">
              </path>
            </svg>
            <h2 class="text-xl font-bold leading-10"> 700+ Components </h2>
            <h2>
              <p class="font-medium text-gray-600">
                Nicely customized components that can be reused anytime and
                anywhere in your project
              </p>

            </h2>
          </div>
        </div>


      </div>
    </div>

  </div>
</div>






