 <!-- Main Contents -->
<div class="main_content">
  <div class="mcontainer">

    <div class="mb-6">
      <h2 class="text-2xl font-semibold"> Setting </h2>
      <nav class="responsive-nav border-b md:m-0 -mx-4">
        <ul uk-switcher="connect: #form-type; animation: uk-animation-fade">
          <li><a href="#" class="lg:px-2"> Profile</a></li>
          <li><a href="#" class="lg:px-2"> Privacy</a></li>
          <li><a href="#" class="lg:px-2"> Notification</a></li>
          <li><a href="#" class="lg:px-2"> Social links </a></li>
          <li><a href="#" class="lg:px-2"> Billing </a></li>
          <li><a href="#" class="lg:px-2"> Security </a></li>
        </ul>
      </nav>
    </div>
    <div class="uk-switcher lg:mt-8 mt-4" id="form-type">

      <div class="grid lg:grid-cols-3 mt-12 gap-8">
        <div>
          <h3 class="text-xl mb-2 font-semibold"> Basic</h3>
          <p> Lorem ipsum dolor sit amet nibh consectetuer adipiscing elit</p>
        </div>
        <div class="bg-white rounded-md lg:shadow-md shadow col-span-2 lg:mx-16">
          <form [formGroup]="UserForm" (ngSubmit)="Update()" >
            <div class="grid grid-cols-2 gap-3 lg:p-6 p-4">
              <div>
                <label for=""> First name</label>
                <input [(ngModel)]="FirstName" type="text" placeholder="{{userData.firstName}}" class="shadow-none with-border">
              </div>
              <div>
                <label for=""> Last name</label>
                <input [(ngModel)]="LastName" type="text" placeholder="{{userData.lastName}}" class="shadow-none with-border">
              </div>
    

              <div class="uplode-div">
                <label for="">Profile Image</label>
                <input [(ngModel)]="ProfilePath" (change)="uploadeProfileImage(file.files)" style="padding-left: 0px;"  type="file" class="uploade" accept="image/*" />
              </div>
              <div class="uplode-div">
                <label for="">Cover Iamge</label>
                <input [(ngModel)]="CoverPath" (change)="uploadeCoverImage(file.files)"  style="padding-left: 0px;"   type="file" class="uploade" accept="image/*" />
              </div>
  
              <div class="col-span-2">
                <label for="">Bio</label>
                <textarea [(ngModel)]="Bio"  id="bio" rows="3" class="with-border">{{userData.bio}}</textarea>
              </div>

              <div>
                <label for=""> Location</label>
                <select id="location" [(ngModel)]="Address" class="shadow-none selectpicker with-border ">
                  <option value="Amman , Jordan">Amman , Jordan</option>
                  <option value="Irbd , Jordan">Irbd , Jordan</option>
                  <option value="2">Zarqa , Jordan</option>
                  <option value="Zarqa , Jordan">Madaba , Jordan</option>
                  <option value="Al-Mafraq , Jordan">Al-Mafraq , Jordan</option>
                  <option value="Jerash , Jordan">Jerash , Jordan</option>
                  <option value="Ma'an , Jordan">Ma'an , Jordan</option>
                  <option value="At-Tafila , Jordan">At-Tafila , Jordan</option>
                  <option value="Al-Karak , Jordan">Al-Karak , Jordan</option>
                  <option value="Aqaba , Jordan">Aqaba , Jordan</option>
                  <option value="As-Salt , Jordan">As-Salt , Jordan</option>
                  <option value="Ajloun , Jordan">Ajloun , Jordan</option>
                </select>
              </div>
              <div>
                <label for=""> Relationship </label>
                <select  id="relationship" [(ngModel)]="Relationship" class="shadow-none selectpicker with-border ">
                  <option value="None">None</option>
                  <option value="Single">Single</option>
                  <option value="In a relationship">In a relationship</option>
                  <option value="Married">Married</option>
                  <option value="Engaged">Engaged</option>
                </select>
              </div>
            </div>


            <div class="bg-gray-10 p-6 pt-0 flex justify-end space-x-3">
                <!--<button class="p-2 px-4 rounded bg-gray-50 text-red-500"> Cancel </button>-->
                <button  type="submit" class="button bg-blue-700"> Change </button>
          </div>
  </form>
        </div>

      </div>
      <div class="grid lg:grid-cols-3 mt-12 gap-8">

        <div>
          <h3 class="text-xl mb-2 font-semibold"> Privacy</h3>
          <p> Lorem ipsum dolor sit amet nibh consectetuer adipiscing elit</p>
        </div>
        <div class="bg-white rounded-md lg:shadow-lg shadow col-span-2 lg:p-6 p-4 lg:mx-16">

          <div class="space-y-3">
            <div class="flex justify-between items-center">
              <div>
                <h4> Who can follow me ?</h4>
                <div> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, </div>
              </div>
              <div class="switches-list -mt-8 is-large">
                <div class="switch-container">
                  <label class="switch"><input type="checkbox"><span class="switch-button"></span> </label>
                </div>
              </div>
            </div>
            <hr>
            <div class="flex justify-between items-center">
              <div>
                <h4> Show my activities ?</h4>
                <div> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, </div>
              </div>
              <div class="switches-list -mt-8 is-large">
                <div class="switch-container">
                  <label class="switch"><input type="checkbox" checked><span class="switch-button"></span> </label>
                </div>
              </div>
            </div>
            <hr>
            <div class="flex justify-between items-center">
              <div>
                <h4> Search engines?</h4>
                <div> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, </div>
              </div>
              <div class="switches-list -mt-8 is-large">
                <div class="switch-container">
                  <label class="switch"><input type="checkbox"><span class="switch-button"></span> </label>
                </div>
              </div>
            </div>
            <hr>
            <div class="flex justify-between items-center">
              <div>
                <h4> Allow Commenting?</h4>
                <div> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, </div>
              </div>
              <div class="switches-list -mt-8 is-large">
                <div class="switch-container">
                  <label class="switch"><input type="checkbox"><span class="switch-button"></span> </label>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>

<!-- open chat box -->
<div uk-toggle="target: #offcanvas-chat" class="start-chat">
  <svg class="h-7 w-7" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"></path>
  </svg>
</div>

<div id="offcanvas-chat" uk-offcanvas="flip: true; overlay: true">
  <div class="uk-offcanvas-bar bg-white p-0 w-full lg:w-80 shadow-2xl">


    <div class="relative pt-5 px-4">

      <h3 class="text-2xl font-bold mb-2"> Chats </h3>

      <div class="absolute right-3 top-4 flex items-center space-x-2">

        <!--<button class="uk-offcanvas-close  px-2 -mt-1 relative rounded-full inset-0 lg:hidden blcok"
                type="button" uk-close></button>-->

        <a href="#" uk-toggle="target: #search;animation: uk-animation-slide-top-small">
          <i class="icon-feather-search text-gray-700 dark:text-gray-100 text-xl hover:bg-gray-100 p-1 rounded-full"></i>
        </a>
        <a href="#">
          <i class="icon-feather-settings text-gray-700 dark:text-gray-100 text-xl hover:bg-gray-200 rounded-full p-2 transition -mr-1 dark:hover:bg-gray-700"></i>
          <!--<i class="icon ion-md-settings text-xl hover:bg-gray-100 p-1 rounded-full"></i>-->
        </a>
        <a href="#">
          <i class="icon-feather-more-vertical text-gray-700 dark:text-gray-100 text-xl hover:bg-gray-200 rounded-full p-2 transition -mr-1 dark:hover:bg-gray-700"></i>
          <!--<i class="icon ion-md-ellipsis-horizontal-outline text-xl hover:bg-gray-100 p-1 rounded-full"></i>-->
        </a>
        <div class="bg-white w-56 shadow-md mx-auto p-2 mt-12 rounded-md text-gray-500 hidden border border-gray-100 dark:bg-gray-900 dark:text-gray-100 dark:border-gray-700"
             uk-drop="mode: click;pos: bottom-right;animation: uk-animation-slide-bottom-small; offset:5">
          <ul >
            <li>
              <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                <i class="icon-feather-check-circle  pr-2 text-xl"></i> Mark all as read
              </a>
            </li>
            <li>
              <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                <i class="icon ion-md-settings pr-2 text-xl"></i>  Chat setting
              </a>
            </li>
            <li>
              <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                <i class="icon ion-md-notifications-off  pr-2 text-lg"></i>   Disable notifications
                
              </a>
            </li>
            <li>
              <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                <i class="icon ion-md-star pr-2 text-xl"></i>  Create a group chat
              </a>
            </li>
          </ul>
        </div>


      </div>


    </div>

    <div class="absolute bg-white z-10 w-full -mt-5 lg:-mt-2 transform translate-y-1.5 py-2 border-b items-center flex"
         id="search" hidden>
      <input type="text" placeholder="Search.." class="flex-1 ml-2">
      <i class="icon ion-md-close text-xl hover:bg-gray-100 p-1 rounded-full mr-4 cursor-pointer"
         uk-toggle="target: #search;animation: uk-animation-slide-top-small"></i>
    </div>

    <nav class="responsive-nav border-b extanded mb-2 -mt-2">
      <ul uk-switcher="connect: #chats-tab; animation: uk-animation-fade">
        <li class="uk-active"><a class="active" href="#0"> Friends </a></li>
        <li><a href="#0">Groups <span> 10 </span> </a></li>
      </ul>
    </nav>

    <div class="contact-list px-2 uk-switcher" id="chats-tab">

      <div class="p-1">
        <a href="chats-friend.html">
          <div class="contact-avatar">
            <img src="assets/assets/images/avatars/avatar-7.jpg" alt="">
          </div>
          <div class="contact-username"> Alex Dolgove</div>
        </a>
        <a href="chats-friend.html">
          <div class="contact-avatar">
            <img src="assets/assets/images/avatars/avatar-8.jpg" alt="">
            <span class="user_status status_online"></span>
          </div>
          <div class="contact-username"> Dennis Han</div>
        </a>
        <a href="chats-friend.html">
          <div class="contact-avatar">
            <img src="assets/assets/images/avatars/avatar-2.jpg" alt="">
            <span class="user_status"></span>
          </div>
          <div class="contact-username"> Erica Jones</div>
        </a>
        <a href="chats-friend.html">
          <div class="contact-avatar">
            <img src="assets/assets/images/avatars/avatar-3.jpg" alt="">
          </div>
          <div class="contact-username">Stella Johnson</div>
        </a>

        <a href="chats-friend.html">
          <div class="contact-avatar">
            <img src="assets/assets/images/avatars/avatar-5.jpg" alt="">
          </div>
          <div class="contact-username">Adrian Mohani </div>
        </a>
        <a href="chats-friend.html">
          <div class="contact-avatar">
            <img src="assets/assets/images/avatars/avatar-6.jpg" alt="">
          </div>
          <div class="contact-username"> Jonathan Madano</div>
        </a>
        <a href="chats-friend.html">
          <div class="contact-avatar">
            <img src="assets/assets/images/avatars/avatar-2.jpg" alt="">
            <span class="user_status"></span>
          </div>
          <div class="contact-username"> Erica Jones</div>
        </a>
        <a href="chats-friend.html">
          <div class="contact-avatar">
            <img src="assets/assets/images/avatars/avatar-1.jpg" alt="">
            <span class="user_status status_online"></span>
          </div>
          <div class="contact-username"> Dennis Han</div>
        </a>


      </div>
      <div class="p-1">
        <a href="chats-group.html">
          <div class="contact-avatar">
            <img src="assets/assets/images/avatars/avatar-7.jpg" alt="">
          </div>
          <div class="contact-username"> Alex Dolgove</div>
        </a>
        <a href="chats-group.html">
          <div class="contact-avatar">
            <img src="assets/assets/images/avatars/avatar-8.jpg" alt="">
            <span class="user_status status_online"></span>
          </div>
          <div class="contact-username"> Dennis Han</div>
        </a>
        <a href="chats-group.html">
          <div class="contact-avatar">
            <img src="assets/assets/images/avatars/avatar-2.jpg" alt="">
            <span class="user_status"></span>
          </div>
          <div class="contact-username"> Erica Jones</div>
        </a>
        <a href="chats-group.html">
          <div class="contact-avatar">
            <img src="assets/assets/images/avatars/avatar-3.jpg" alt="">
          </div>
          <div class="contact-username">Stella Johnson</div>
        </a>

        <a href="chats-group.html">
          <div class="contact-avatar">
            <img src="assets/assets/images/avatars/avatar-5.jpg" alt="">
          </div>
          <div class="contact-username">Adrian Mohani </div>
        </a>
        <a href="chats-group.html">
          <div class="contact-avatar">
            <img src="assets/assets/images/avatars/avatar-6.jpg" alt="">
          </div>
          <div class="contact-username"> Jonathan Madano</div>
        </a>
        <a href="chats-group.html">
          <div class="contact-avatar">
            <img src="assets/assets/images/avatars/avatar-2.jpg" alt="">
            <span class="user_status"></span>
          </div>
          <div class="contact-username"> Erica Jones</div>
        </a>
        <a href="chats-group.html">
          <div class="contact-avatar">
            <img src="assets/assets/images/avatars/avatar-1.jpg" alt="">
            <span class="user_status status_online"></span>
          </div>
          <div class="contact-username"> Dennis Han</div>
        </a>


      </div>

    </div>
  </div>
</div>


