<header class="border-none bg-transparent" uk-sticky="cls-active: is_fixed ; cls-inactive: bg-transparent">
  <div class="header_inner">
    <div class="left-side">

      <!-- Logo -->
      <div id="logo">
        <a href="index.html">
          <img src="assets/images/logo.png" alt="">
          <img src="assets/images/logo-light.png" class="logo_inverse" alt="">
          <img src="assets/images/logo-mobile.png" class="logo_mobile" alt="">
        </a>
      </div>

      <div class="triger" uk-toggle="target: .header_menu ; cls: is-visible">
        <i class="uil-bars"></i>
      </div>
      <div class="overly" uk-toggle="target: .header_menu ; cls: is-visible"></div>

    </div>
    <div class="right-side uk-visible@s">

      <ul class="header_menu" uk-scrollspy-nav="closest: li; scroll: true">
        <li [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }">
          <a [routerLink]="['/']" uk-scroll> Home</a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/counter']" uk-scroll> Counter</a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/fetch-data']" uk-scroll> Fetch data</a>
        </li>
      </ul>
      <a [routerLink]="['/login']" class="bg-gradient-to-bl font-semibold from-purple-400 px-8 py-2 ml-8 rounded text-sm text-white to-blue-600 hover:shadow-lg hover:text-white">
        Sign In
      </a>
      <a href="#" class="bg-gradient-to-bl font-semibold from-purple-400 px-8 py-2 ml-2 rounded text-sm text-white to-blue-600 hover:shadow-lg hover:text-white">
        Sign Up
      </a>

    </div>
  </div>
</header>
